<div class="container">

    <div class="bg">
        <div class="logo">
            <img src="/assets/img/logoBlanco.png" alt="">
        </div>
        <div class="description">
            <h2>Encuentra la propiedad que siempre has estado buscando</h2>
            <h6>Estas intersado en vender tu propiedad? Anúnciala con nosotros</h6>
            <div class="btn-container">
                <button class="btn-login">Inicia Sesión</button>
                <button class="btn-signup">Regístrate</button>
            </div>
        </div>
    </div>

    <div class="bgcolor">
        <form>
            <div>
                <select name="" id="">
                    <option disabled selected>Tipo de Inmueble</option>
                </select>
            </div>
            <div>
                <select name="" id="">
                    <option disabled selected>Tipo de Venta</option>
                </select>
            </div>
            <div>
                <select name="" id="">
                    <option disabled selected>Numero de habitaciones</option>
                </select>
            </div>
            <div>
                <select name="" id="">
                    <option disabled selected>Numero de baños</option>
                </select>
            </div>
            <div>
                <select name="" id="">
                    <option disabled selected>Numero de estacionamientos</option>
                </select>
            </div>
            <div>
                <input type="text" placeholder="Ubicacion">
            </div>

            <button>Buscar</button>

        </form>
    </div>
</div>